@import './_variables';

#app {

    #topBar {

        #userAccountMenu {

            z-index: 999;
        }
    }

    #content {

        #map {

            width: 100%;
            height: calc(100vh - $topBarHeight);
        }
    }
}
